/*-- scss:defaults --*/
// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$font-family-sans-serif: 'Lato Light' !default;
$presentation-font-size-root: 30px !default;

// headings
$presentation-heading-font: 'Lato Light' !default;

