
.static-image {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  margin-top: 20px;
  max-width: 100%;
}

.static-image-captioned {
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    margin-top: 2px; 
    margin-bottom: 15px;
    max-width: 100%;
}

.static-image-no-border {
    margin: 5px;
    margin-top: 2px; 
    margin-bottom: 15px;
    max-width: 100%;
}

.custom-caption {
  text-align: center; 
  margin-top: 10px; 
  margin-bottom: 5px;
  font-size: .85em;
  font-weight: 400;
}